<html>
<head>
    <title>Box Office Analysis Dashboard</title>
    <meta name="description" content="A dashboard for Box Office Analysis.">
    <meta charset="utf-8">
</head>

<body>
    <header>
        <h1>Box Office Analysis</h1>
        <h2>Weekly Grosses</h2>
    </header>


<form action="/year" method="get">
    <!--Make a select feature to choose the year-->
    <select year="year" id="years">
        <option value="2023">2023</option>
    </select>
    <input type="submit" value="Update">


</form>
<div id="viewDiv"></div>

<h2>Top Movies</h2>
<p>Pie Chart here</p>
</body>








</html>