<html>
<head>
    <title>Box Office Analysis Dashboard</title>
    <meta name="description" content="A dashboard for Box Office Analysis.">
    <meta charset="utf-8">
    
</head>

<body>
    <header>
        <h1>Box Office Analysis</h1>
        <h2>{{selected_year}} Weekly Grosses</h2>
    </header>

<p>Choose Year: </p>
<form action="/year" method="get">
    <!--Make a select feature to choose the year-->
    <select name="year" id="years">
        <option value="{{selected_year}}">{{selected_year}}</option>
        {% for year in years %}
            <option value="{{year}}">{{year}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Go!">
</form>

<img src="graphs/weekly_gross.png" alt="{{selected_year}} weekly gross png" >


<h2>Top Movies</h2>
<p>Pie Chart here</p>

<form action="/update_data" method="post">
    <input type="submit" value="Update Data">
</form>
</body>


</html>