<html>

<body>
    <header>
        <h1>Highest Grossing Movies in {{selected_year}} </h1>
        <h2>Top Movies</h2>
    </header>
</body>

<section>
    <h2>Annual Top Movies</h2>
    <!-- Entry box to go to "pie" page -->
    <form action="/pie" method="get">
        <input type="text" name="year" placeholder="Enter Year">
        <input type="submit" value="View">
    </form>

    <!-- Display images side by side -->
    <div style="display: flex; justify-content: space-around;">
        <img src="static/top_8_domestic_pie.png" alt="Top 8 Domestic Pie Chart" style="width: 50%;">
        <img src="static/top_8_worldwide_pie.png" alt="Top 8 Worldwide Pie Chart" style="width: 50%;">
    </div>
</section>



</html>